# init.rc para o memtest_daemon (system_ext / coredomain)
# Binário em /system_ext/bin/ — autoiniciado em userdebug/eng

service memtest_daemon /system_ext/bin/memtest_daemon
    class late_start
    user root
    group root shell
    socket memtest_daemon stream 0666 root system
    seclabel u:r:memtest_daemon:s0
    disabled

on property:ro.debuggable=1
    start memtest_daemon

# Ou dispare manualmente: setprop ctl.start memtest_daemon
